body {
  background-color: grey;
}

.avatar{

}

.headercontainer{
  height: 30vw;
    margin: 25px 115px;

}

.headerbox {
  position: absolute;
}

.left, .right {
  position: relative;
}

.userinfo{
/*  border: solid black 1px;
  border-radius: 10px;
  padding: 10px;
  margin: 15px auto;
  width: 80%;
  height: 462px;*/
}

.usercolumn{
  /*float:right;*/
  border: solid black 1px;
  border-radius: 10px;
/*  padding: 10px;
  margin: 15px auto;
  width: 80%;
  height: 100%;*/
/*  overflow: none;
*/}

/*outside div abs inside div rel
*/
.events-container{
  border-radius: 10px;
  padding: 10px;
  margin: 60px auto;
  width: 80%;
}

li.events {
  margin: 5px 2.5px;
}

.events{
  border: solid black 1px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
}

.venue-name{
  font-style: bold;
}

.artist-name {
  font-style: italic;
}

.event-list {

}

div.avatar {
  width:30%;
}

.avatar img{
  height: 100%;
  width: 100%;
}

div#spotify-image-container {
  width:30%;
}

#spotify-image-container img{
  height: 100%;
  width: 100%;
}

.back{
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: .7;
  z-index: -1;
}

#user-show-background {
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}

#user-show-background img{
  height: 375px;
  width: 100%;
}

.accordion-navigation{
  opacity: .8;
  
}
.accordion{
  width: 50%;
  margin: 0 auto;
}
button{
  background-color: #E60000;
}