.wrapper {
	position: fixed;
	margin: 0;
}


.avatar{

}

.userinfo{
  margin: 15px;
}

.events-container{
  margin: 15px;
}

.events{
  padding: 10px;
}

.venue-name{
  font-style: bold;
}

.artist-name {
  font-style: italic;
}

.event-list {
	float: left;
	position: relative;
	width: 50vw;
	height: 100vh;
	overflow: scroll;

}

#spotify-image-container {
	
}
.back{
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: .7;
  z-index: -1;
}
.accordion-navigation{
  opacity: .8;
  
}
.accordion{
  width: 50%;
  margin: 0 auto;
}
button{
  background-color: #E60000;
}