.wrapper {
	position: fixed;
	margin: 0;
}


.avatar{

}

.userinfo{
  border: solid black 1px;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
}

.events-container{
  margin: 15px;
}

.events{
  border: solid black 1px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
}

.venue-name{
  font-style: bold;
}

.artist-name {
  font-style: italic;
}

.event-list {
	float: left;
	position: relative;
	width: 50vw;
	height: 100vh;
	overflow: scroll;

}


div.avatar {
  width:30%;
}


.avatar img{
  height: 100%;
  width: 100%;
}

div#spotify-image-container {
  width:30%;
}


#spotify-image-container img{
  height: 100%;
  width: 100%;
}

.back{
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: .7;
  z-index: -1;
}
.accordion-navigation{
  opacity: .8;
  
}
.accordion{
  width: 50%;
  margin: 0 auto;
}
button{
  background-color: #E60000;
}